/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Header Section */
header {
    background-color: #007a5a;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    margin-left: 20px;
}

#nav-menu {
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Slider Section */
#slider {
    overflow: hidden;
}

.slide {
    width: 100vw;
    height: calc(100vh - 80px); /* Adjust height as needed */
    display: inline-block;
    text-align: center;
    position: relative;
}

.slide img {
    max-width: 100%;
    height: auto;
}

/* Feature Boxes */
#feature-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.box {
    text-align: center;
    flex: 1;
    max-width: 300px; /* Limit maximum width of each box */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 36px;
    color: #007a5a;
    margin-bottom: 10px;
}

.text {
    color: #fff; /* Change text color to match header color */
}
